body {
    background-color: #EBEDD1;
    margin-top:1rem;
}

.err-body{
    position: relative;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}

.content{
    margin-top:1rem
}

.logo-navbar {
    height: 1.5rem;
    width: 1.5rem;
}

.postit-content {
    font-size: 2rem;
}

.btn:hover {
    cursor: pointer;
}

.border-right{
    border-right: 2px solid #000000;
}

.border-left{
    border-left: 0.5px solid #000000;
}

.box{
    border: 2px solid #000000;
    border-radius: 2px;
}

.modal{
    width:15rem;
    height: 15rem;
}

.opened-modal{
    z-index: 100;
}

.closed-modal{
    z-index: -100;
}

.error-image{
    width: 40rem;
}

.bis-image{
    width: 30rem;
    height: 30rem;
}

.skribli{
    height:50rem;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.card-spacing{
    margin-top: 10rem;
}

.centered-content{
    align-self: center;
    align-items: center;
    text-align: center;
}

.mobile-body{
    padding-left: 1rem;
    padding-right: 1rem;
}

.textarea{
    height: 15rem;
}

.separator{
    height:0.2rem
}

#board{
    max-height: 100%;
}

.box {
    border: 2px solid #000000;
    border-radius: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}